body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.loader {
    width: 120px;
    height: 20px;
    -webkit-mask: inear-gradient(90deg,#000 70%,#0000 0) 0/20%;
    background:
     linear-gradient(#000 0 0) 0/0% no-repeat
     #ddd;
    animation: l4 2s infinite steps(6);
}
@keyframes l4 {
    100% {background-size:120%}
}

#center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.goldstein{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.bottom-image{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.bottom-image img{
    max-width: 100%;
    height: auto;
}